{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="mt-5 mx-auto">Bienvenue sur le shop non-officiel de</h1>
<h2 class="mx-auto">Jean-Claude VAN DAMME</h2>
<div style="height: 800px" class="mx-auto mt-5">
<img src="{{ asset('images/jcvd.png') }}" alt="JCVD" class='home_img'/>
</div>

{% endblock %}