{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <style>
        /* Styles personnalisés */
        .container {
            background-color: #f8f9fa;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .display-4 {
            color: #3498db; /* Bleu clair */
        }

        .btn-primary {
            background-color: #3498db; /* Bleu clair */
            border: none;
        }

        .btn-primary:hover {
            background-color: #2980b9;
        }

        /* Styles pour l'image */
        .serviette-image {
            max-width: 100%;
            height: auto;
        }
    </style>

    <div class="container mb-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center display-4"> PROMO EXPLOSIVE </h1>
                <p class="lead text-center">Pour obtenir ton code promo exclusif JCVD, résous cette énigme !</p>
                <p class="text-center">Selon JCVD, quel est le prix pour faire une bonne dalle béton ?</p>
                <form class="form-inline justify-content-center">
                    <input type="text" class="form-control" id="reponse" placeholder="Ta réponse">
                    <button type="button" class="btn btn-primary" onclick="verifierReponse()">Vérifier</button>
                </form>
                <p id="resultat" class="text-center"></p>
            </div>
        </div>

        <div class="row mt-5" style="height: 180px">
            <p class="col-4 ms-5">Avec le code promo, en cadeau, une superbe serviette JCVD ! </p>
            <img class="col-4 w-auto serviette-image" src="{{ asset('images/servietteJCVD.jpg') }}">
        </div>

        <script>
            function verifierReponse() {
                const reponseUtilisateur = document.getElementById('reponse').value;
                const resultatElement = document.getElementById('resultat');

                if (reponseUtilisateur.toLowerCase() === '100') {
                    resultatElement.innerHTML = `Bravo, vous avez trouvé ! <br><br> <u>Citation bonus :</u> Va sous l'eau, avec un peu de logique, tu trouveras.`; // Utiliser innerHTML pour permettre l'interprétation de HTML
                } else {
                    resultatElement.textContent = 'Ce n\'est pas la bonne réponse.';
                }
            }
        </script>
    </div>
{% endblock %}